// colors
$accentColor = #0000EE
$textColor = #333
$borderColor = #eaeaea
$codeBgColor = #aaa
$arrowBgColor = #ccc

// layout
$contentWidth = 720px

body h2 {
    font-size: 1.2em;
}

body h3 {
    font-size: 1.1em;
    font-weight: normal;
}