/*! Cardinal v2.4.4 | MIT License | http://cardinalcss.com */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,body {
  height: 100%;
  margin: 0;
}

footer,main {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background: 0 0;
}

a:active,a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  border: 0;
}

/* Viewport resizing */

@viewport {
  width: device-width;
  zoom: 1.0;
}

/**
 * Box model adjustments
 * `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5
 */

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Add a margin to elements that typically need it */

p,ul {
  margin: 0;
  padding: 0;
}

ul {
    margin: 1.5rem 0;
}

/**
 * 1. Customize `background` for text selections
 * 2. Remove `text-shadow` selection highlight - http://cbrac.co/Q6swON
 */

::-moz-selection {
  background: #b3d4fc;
  /* 1 */
  text-shadow: none;
  /* 2 */
}

::selection {
  background: #b3d4fc;
  /* 1 */
  text-shadow: none;
  /* 2 */
}

/* Change `background` for text selections when browser is unfocused */

::selection:window-inactive {
  background: #dedede;
}

/* Remove `background` on images when selected */

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/**
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * NOTE: IE for Windows Phone 8 ignores `-ms-text-size-adjust` if the
 *       viewport <meta> tag is used - http://cbrac.co/1cFrAvl
 */

html {
  overflow-y: scroll;
  /* 1 */
  min-height: 100%;
  font-size: 100%;
}

/* ================================================================== *\
   Typography ($typography)

   Modular scale:    16px @ 1:1.333 (perfect fourth)
   Important number: 24px (base line-height)
   http://modularscale.com/scale/?px1=16&px2=24&ra1=1.333&ra2=0
\* ================================================================== */

/**
 * 1. Inherits percentage declared on above <html> as root `font-size`
 * 2. Unitless `line-height`, which acts as multiple of base `font-size`
 */

body {
  color: #444;
  font-size: 1rem;
  /* 1 */
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.5;
  /* 2 */
}

/**
 * Links ($links)
 */

a {
  color: #2A2D31;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 1px dotted #222;
}

/**
 * Common typographical elements
 */

/**
 * 1. Add an m-dash character before the <footer> tag
 * TIP: Use <cite> inside blockquotes - http://cbrac.co/18LWCOw
 */

/**
 * Add word wrapping and hyphenation to common elements
 */

p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/**
 * The parent of every `.crossbars` element must have `overflow:
 * hidden` to prevent pseudo elements from breaking outside
 */

i {
  font-style: italic;
}

/**
 * Headings ($headings)
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 */

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin: 0 0 0.75rem;
  color: #222;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
}

h1,.h1 {
  font-size: 3rem;
}

h2,.h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

h3,.h3 {
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
}

h4,.h4,h5,.h5,h6,.h6 {
  font-size: 1rem;
}

/* Address styling not present in IE 8/9 */

/* Nested `list-style` types for ordered lists */

ul ul {
  margin-bottom: 0;
}

/* 1. Address inconsistent and variable `font-size` in all browsers */

/**
 * Text alignment ($text-alignment)
 */

/* Medium-sized breakpoint */

/* Large-sized breakpoint */

/* ================================================================== *\
   Layout ($layout)
\* ================================================================== */

/**
 * Areas ($areas)
 */

/* 100% width strip */

/* Remove bottom margin of the last element inside a strip wrapper */

/* Page wrapper */

.wrapper {
  margin: 0 auto;
  max-width: 73.125rem;
  min-height: 100%;
  width: 100%;
  margin-bottom: -150px;
}

/* Island and wells */

/**
 * Grids ($grids)
 * Includes verbose and shorthand methods
 * 1. Default gutter width, change if desired
 * 2. Remove `list-style` in case `.grid` is on a <ul> element
 * 3. Hack to remove `inline-block` whitespace - http://cbrac.co/16xcjcl
 */

/* Grid gutters */

/**
 * Grid items
 * 1. Default gutter width, change if desired
 * 2. Ensures elements within `.grid-item` start at the top
 * 3. Reset `font-size` back to normal
 */

/* Widths */

/* Medium-sized breakpoint */

@media only screen and (min-width: 600px) {
  /* Grid gutters */

  /* Widths */
}

/* Large-sized breakpoint */

@media only screen and (min-width: 960px) {
  /* Grid gutters */

  /* Widths */
}

/**
 * Floats ($floats)
 */

/* Medium-sized breakpoint */

/* Large-sized breakpoint */

/* Clear floats with an extra markup element - http://cbrac.co/SFv1Ua */

/* Clearfix to contain floats */

/**
 * Show/hide ($show-hide)
 */

/**
 * Hide only visually, but have it available for screenreaders -
 * http://cbrac.co/TUcUgH
 */

/**
 * Extends the `.visuallyhidden` class to allow the element to be
 * focusable when navigated to via the keyboard - http://cbrac.co/RR8gO6
 */

/* ================================================================== *\
   Embedded content ($embedded-content)
\* ================================================================== */

/* Fluid-width <audio> & <video> elements */

/* Fluid-width media that maintain their aspect ratios */

img {
  height: auto;
}

/* Flexible videos embeds! */

/* Different padding value for widescreen */

/* Remove top padding for Vimeo embeds only */

/**
 * 1. Remove the gap between <img> elements and the bottom of their
 *    containers - http://cbrac.co/Q6smqV
 */

img {
  vertical-align: middle;
  /* 1 */
  -ms-interpolation-mode: bicubic;
}

/* ================================================================== *\
   Syntax ($syntax)
\* ================================================================== */

/* Correct `font-family` set oddly in Safari 5 and Chrome */

/* Reset above <code> styles when nested inside <pre> tags */

/* ================================================================== *\
   Tables ($tables)
\* ================================================================== */

/* Default, borderless */

/* Outer border only */

/* Borders for inner table cells */

/* Border for rows only */

/* Remove top border to avoid double border on `.border` tables */

/* Add bottom border to last row in the table */

/* Alternate background colors for table rows */

/* ================================================================== *\
   Forms ($forms)
\* ================================================================== */

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native
 *    <audio> and <video> controls
 * 2. Improve usability and consistency of cursor style between
 *    image-type <input> and others
 */

/**
 * 1. Remove default `border` and `padding` across browsers
 * 2. Set `min-width` to 0 to avoid overflow issues in Chrome
 */

/* Remove `margin-bottom` from the last element in a <fieldset> */

/* Add this class for a bordered <fieldset> */

/* Make checkbox, image, and radio inputs `inline-block` by default */

/**
 * Give inputs, selects, and textareas some basic styles
 */

/**
 * 1. Constrict `max-width` for file inputs to avoid overflow issues
 */

/**
 * 1. Remove `padding` so people aren't caught out if they zero out fieldsets
 * 2. Correct `color` not being inherited in IE 8/9
 */

/* If <fieldset> has a border, give its <legend> different styles */

/* Give <select> menus a different background */

/* Set a `max-height` on <select> in Firefox only */

@-moz-document url-prefix()  {
  select {
    max-height: 40px;
    height: auto;
  }
}

/**
 * 1. Restrict <textarea> elements to vertical resizing only
 */

/* ================================================================== *\
   Buttons ($buttons)
\* ================================================================== */

/* States */

/* Consistent button focus style across browsers */

/* Sizes */

/* Colors */

/* ================================================================== *\
   Main ($main)
\* ================================================================== */

/**
 * YOUR MAGICAL CSS GOES HERE!
 */

.logo {
  float: left;
}

#services {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#services h2 {
  color: #2A2D31;
  padding: 0 0 15px 0;
}

#services h3 {
  color: #2A2D31;
}

#services p {
  max-width: 580px;
  margin: auto;
}

.divider {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 5px auto 25px;
  text-align: center;
  border-top: 1px solid #2A2D31;
}

#services .divider .fa {
  font-size: 4rem;
}

#services ul {
  list-style-type: none;
}

/* Divider Colors */

#services .divider .fa {
  color: #2A2D31;
}

/* End Divider Colors */

footer {
  text-align: center;
  background: #26292e;
  background-image: url('../img/bg_pattern.png');
  background-repeat: repeat;
  height: 150px;
  padding-top: 65px;
}

.push {
  height: 150px;
}

.fa-copyright,.fa-copyright a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.fa-copyright a {
  padding-left: 5px;
}

.fa-copyright {
  padding-top: 50px;
}

@media only screen and (max-width: 960px) {
  .logo {
    float: none;
  }

  #services h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #services h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #services p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .logo {
    width: 90%;
  }
}

/* ================================================================== *\
   Print ($print)
   Inlined to avoid an extra HTTP request - http://cbrac.co/VUjfe3
\* ================================================================== */

@media print {
  /* 1. Black prints faster - http://cbrac.co/XvusCs */

  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    /* 1 */
    text-shadow: none !important;
  }

@page {
    margin: 0.5cm;
}

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Don’t show links for images, or javascript/internal links */

  a[href^="#"]:after,  a[href^="javascript:"]:after {
    content: "";
  }

  h2,  h3,  p {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }
}