// colors
$accentColor = #F5F
$textColor = #333
$borderColor = #EEE
$codeBgColor = #AAA
$arrowBgColor = #CCC

// layout
$contentWidth = 720px

body {
    min-height: 100vh;
    background-color: #eaeaea;
    font-size: 125%;
    overflow-y: scroll;
    scrollbar-color: dark;
    filter: invert();
}

body h2 {
    font-size: 1.75rem;
}

body h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.navbar .links {
    font-size: 1.25rem;
}

.page table {
    width: 100%;
}

.page table th:first-child {
    min-width: 200px;
}

@media screen and (max-width: 520px) {
    .page table {
        overflow: unset;
    }
    .page table td {
        display: block;
    }

    .page table thead {
        display: none;
    }
}
