// colors
$accentColor = #EAEAEA
$textColor = #CECECE
$borderColor = #111
$codeBgColor = #555
$arrowBgColor = #333

// layout
$contentWidth = 720px

body {
    background: rgb(0,45,92);
    background: linear-gradient(180deg, rgba(0,45,92,1) 50%, rgba(122,102,0,1) 50%);
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    font-size: 125%;
    overflow-y: scroll;
    scrollbar-color: dark;
}

a {
    font-weight: normal;
}

.nav-item > a:not(.external):hover,
.theme-default-content:not(.custom) a:hover {
    text-decoration: none;
    border-bottom: 0;
}

body h2 {
    font-size: 1.75rem;
    border-bottom-color: $accentColor;
}

body h2 {
    font-weight: normal;
}

h2 span {
    font-size: 1.25rem;
}

h2 a span {
    font-size: 1.75rem;
}

body h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.navbar {
    border-bottom: 0;
}

.navbar .links,
.navbar {
    background-color: transparent;
}

.navbar .links {
    font-size: 1.25rem;
}

.page table {
    width: 100%;
}

.page table th:first-child {
    min-width: 200px;
}
.sidebar {
    background: #000;
}

@media screen and (max-width: 520px) {
    .page table {
        overflow: unset;
    }
    .page table td {
        display: block;
    }

    .page table thead {
        display: none;
    }
}
