// colors
$accentColor = #0A0
$textColor = #CCC
$borderColor = #111
$codeBgColor = #555
$arrowBgColor = #333

// layout
$contentWidth = 720px

html, body {
    background-color: #151515;
}

body {
    min-height: 100vh;
    font-size: 125%;
    overflow-y: scroll;
    scrollbar-color: dark;
}

body h2 {
    font-size: 1.75rem;
}

body h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.navbar .links,
.navbar {
    background-color: #000;
}

.navbar .links {
    font-size: 1.25rem;
}

.page table {
    width: 100%;
}

.page table th:first-child {
    min-width: 200px;
}

@media screen and (max-width: 520px) {
    .page table {
        overflow: unset;
    }
    .page table td {
        display: block;
    }

    .page table thead {
        display: none;
    }
}
